.main-container {
    display: flex;
    height: calc(100vh - 97px);
    width: 100vw;
    flex-direction: row;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
    overflow: hidden;
    
    @media (max-width: 800px) 
    {
        display: none;
    }
}

.mobile-container {
    @media (min-width: 1000px) 
    {
        display: none;
    }
    @media (max-width: 1000px) 
    {
      width: 100%;
    }
}


.smaller-screen {
    @media (max-width: 1669px) 
    {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
    }
}