<header class="logo">
    <img src="logo.png" />
    <h3>NaviGate</h3>
</header>
<body>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="form-style" ngNativeValidate>
        <div class="name-input">
            <div class="form-element">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" name="firstName" ngModel required>
            </div>
            <div class="form-element">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" name="lastName" ngModel required>
            </div>
        </div>
        <div class="form-element email-input">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" ngModel required autocomplete="email">
        </div>
        <div class="name-input">
            <div class="form-element">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" ngModel required>
            </div>
            <div class="form-element">
                <label for="passwordConfirmation">Confirm Password</label>
                <input id="passwordConfirmation" type="password" name="passwordConfirmation" ngModel required>
            </div>
        </div>
        <div class="form-buttons">
            <button type="button" *ngIf="!isLoading()" routerLink="/login">Go to Login</button>
            <button type="submit" [disabled]="isLoading()">{{!isLoading() ? 'Confirm' : 'Loading...'}}</button>
        </div>
    </form>
    <p *ngIf="errorMessage()" [@shakeAnimation] class="error">{{errorMessage()}}</p>
</body>
